.header {
    background-color: black;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 2000;
}

.head-left {
    flex: 0.2;
}

.head-left>h1 {
    margin-left: 20px;
    text-align: center;
    letter-spacing: 1px;
    padding: 20px 0;
    font-size: 25px;
}

.head-left>h1 span {
    font-size: 30px;
}


.head-left>h1:hover {
    color: tomato;
}

span {
    color: tomato;
}

span:hover {
    color: white;
}

.head-right {
    display: flex;
    flex: 0.5;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.head:hover {
    transform: scale(1.09);
    background-color: orangered;
    color: white;
    padding: 2px 5px;
    border-radius: 2px;
    letter-spacing: 1px;
}

.head-gray {
    border-bottom: 2px solid orangered;
}

@media (max-width: 768px) {
    .header {
        height: 80px;
    }

    .head-left,
    .head-right {
        width: 100%;
    }

    .head-left>h1 {
        font-size: 1rem;
    }

    .head-right h4 {
        font-size: 0.8rem;
    }

}