.skill-container{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    /* width: 100%; */
}
.skill-header{
    display: flex;
    top: 80px;
    position: sticky;
    z-index: 3000;
}
.skill-head{
    color: black;
     border: 1px solid black;
     border-radius: 3px;
   margin-left: 200px;
   padding: 3px 5px;
   /* top: 80px;
   position: sticky;
   z-index: 3000; */
}
.skill-head:hover {
    color: azure;
    background-color: orange;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(1, 1, 1, 1);
}
.skill-image{
    width: 100%;
    display: flex;

    align-items: flex-start;
}
.skill-img{
    width: 500px;
    height: auto;
}
.skill-section{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 10px;
   width: 100%;
}
.right-container{
    display: flex;
   /* max-width: 350px; */
   align-items: center;
   justify-content: center;
   width: 100%;
   margin-left: 200px;
}
.right {
    background-color: teal;
    width: 350px;
    height: auto;
    padding: 5px;
    border-radius: 3px;
    
}
.right-head {
    background-color: coral;
    width: fit-content;
    margin-left: 70%;
    margin-top: 2%;
    color: black;
    padding: 3px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
}
.right-skillset>h5 {
    background-color: tomato;
    color: white;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
}
.left-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 200px;
    /* border: 1px solid red; */
    /* align-items: flex-end; */
}
.left {
    background-color: teal;
    width: 350px;
    height: auto;
    padding: 5px;
    border-radius: 3px;
}

.left-head {
    background-color: coral;
    width: fit-content;
    margin-left: 70%;
    margin-top: 2%;
    color: black;
    padding: 3px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
}

.left-skillset>h5 {
    background-color: tomato;
    color: white;
    /* width: fit-content; */
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
}

.left-skillset>h5:nth-child(1) {
    margin-left: 55%;
}

.left-skillset>h5:nth-child(2) {
    margin-left: 35%;
}

.left-skillset>h5:nth-child(3) {
    margin-left: 23%;
}

.left-skillset>h5:nth-child(4) {
    margin-left: 8%;
}

.right-skillset>h5:nth-child(1) {
    margin-left: 50%;
}

h5:nth-child(2) {
    margin-left: 28%;
}

h5:nth-child(3) {
    margin-left: 5%;
}

.right-head:hover {
    color: aliceblue;
    border: 1px solid black;
    cursor: pointer;
}

.left-head:hover {
    color: aliceblue;
    border: 1px solid black;
    cursor: pointer;
}

.right-skillset>h5:hover {
    color: black;
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.left-skillset>h5:hover {
    color: black;
    border: 1px solid whitesmoke;
    cursor: pointer;
}
