* {
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.container-section {
    display: flex;
    justify-content: flex-end;
}

.image {
    position: absolute;
    margin-top: 80px;
    width: 100%;
}

.image img {
    max-width: 100%;
    height: auto;
}

.text {
    position: relative;
    margin-top: 400px;
    margin-right: 100px;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mg {
    background: linear-gradient(to left, orangered,
            rgb(243, 4, 243), indigo, orange,
            green, red, blue, yellow);
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
}

@keyframes animated {
    to {
        background-position-x: 161px;
    }
}

.domain {
    color: rgb(21, 255, 0);
    font-variant: small-caps;
    font-weight: bold;
}

.button-section {
    display: flex;
    justify-content: center;
}

.download-btn {
    background-color: orangered;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.work-btn {
    background-color: white;
    color: orangered;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: white;
    color: orangered;
    box-shadow: 0 0 10px rgba(241, 9, 9, 0.9);
}

.work-btn:hover {
    background-color: orangered;
    color: white;
    box-shadow: 0 0 10px rgba(252, 252, 252, 0.9);
}

/* desktop */
@media screen and (max-width: 1140px)and (min-width:1000px) {

    .text {
        margin-top: 300px;
        margin-right: 100px;
    }
}

/* tablet */
@media screen and (max-width:1000px) and (min-width: 767px) {

    .text {
        margin-top: 200px;
        margin-right: 80px;
    }
}

/* phone */
@media screen and (max-width:767px) and (min-width:500px) {
    .text {
        margin-top: 150px;
        margin-right: 20px;
        font-size: 10px;

    }
}

@media screen and (max-width:500px) {
    .text {
        margin-top: 100px;
        margin-right: 20px;
    }
}